
<%- include("partials/header1") %>

  <div class="container edit-section">

    <div class="row mt-4 justify-content-center">
      <h2 style="color: white;">Edit information</h2>
    </div>

    <div class="row mt-3">
      <div class="col-6">
        <img src="<%= currentUser.image %>" class="img-thumbnail">
      </div>
      <div class="col-6" style="padding-left: 5rem;padding-right: 5rem;">
        <form action="/edit" method="POST">
          <div class="form-row">
            <div class="form-group col">
              <label style="color: white;">Name</label>
              <input type="text" class="form-control" name="name" value="<%= currentUser.name %>">
              <label style="color: white;">Image</label>
              <input type="text" class="form-control" name="image" value="<%= currentUser.image %>">
            </div>
          </div>
          <button class="btn btn-warning btn-block" type="submit">edit</button>
        </form>
      </div>
    </div>

  </div>


  <!-- <body>

    <form action="/edit" method="POST">
      <input type="hidden" name="id" value=<%=currentUser._id %>>
      <div class="container contact-form">
        <h1 style="text-align: center;">Edit information form</h1>
        <div style="background-color: black;">
          <br>

          <div class="row">

            <div class="col-md-6">
              <p style="font-size: 20px; margin-left: 2.9%;">This name that you changed will appear to everyone when
                you post or comment </p>

              <div>
                <div><img src="<%= currentUser.image %>" < style="width: 200px; height:200px; margin-left: 28%;" /div>
                </div>
                <br>
              </div>
            </div>


            <div class="col-md-6" style="padding-right: 7%;">
              <div class="form-group">
                <label style="margin-left: 2%" ;>name</label>
                <input type="text" class="form-control" style="margin-left: 2%;" name="name"
                  placeholder="<%= currentUser.name %>" value="<%= currentUser.name %>">
              </div>
              <div class="form-group">
                <label style="margin-left: 2%" ;>image </label>

                <input type="text" class="form-control" style="margin-left: 2%" ; name="image"
                  placeholder="URL of images" value="<%= currentUser.image %>">
              </div>


              <div class="form-group">
                <button class="btn btn-primary btn-block" style="margin-left: 2%" ;>Confirm</button>
              </div>


            </div>

          </div>

        </div>
    </form>

  </body> -->

  <%- include("partials/footer") %>